.footer
{
  font-size:15px;
  line-height:24px;
  color:white;
  background-color: #40005d;
  padding-block: 1.5rem;
}

.description{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about{
  max-width: 600px;
}

.about, .contact{
  margin-inline: 1rem;
}

.footer h6
{
  color:gray;
  font-size:23px;
  margin-top:5px;
  letter-spacing:2px;
  margin-bottom: 0;
}

.footerlinks
{
  padding-left:0;
  list-style:none
}
.footerlinks li
{
  display:block;
  text-decoration: none;
}


.copyright
{
  border-top: white 1px solid;
  text-align: center;
}

.footerlinks button{
  background: transparent;
  color: white;
  border: none;
  padding: 0;
  margin-block: .5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.footerlinks button:hover{
  font-weight: bold;
  text-decoration: underline;
}

.footerlinks button:disabled{
  cursor: auto;
}

.footerlinks button:disabled:hover{
  font-weight: normal;
  text-decoration: none;
}

.footerlinks img{
  margin-right: .5rem;
}

@media (max-width:767px)
{
  .footerlinks button
  {
    text-align:center
  }
}